<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

	<context:component-scan base-package="phoenix.service" />

	<bean id="phoenixDS" class="phoenix.datasource.DataSourceProxy" destroy-method="close" />
	
	<bean id="PrivateBasicInfoDS" class="com.alibaba.druid.pool.DruidDataSource" 	init-method="init" destroy-method="close">
		<property name="url" value="${PrivateBasicInfoDS.url}" />
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="username" value="${PrivateBasicInfoDS.username}" />
		<property name="password" value="${PrivateBasicInfoDS.password}" />
		<property name="initialSize" value="5" />
		<property name="minIdle" value="5" />
		<property name="maxActive" value="60" />
		<property name="filters" value="stat,slf4j" />
		<property name="connectionProperties"	value="druid.stat.slowSqlMillis=50;druid.stat.logSlowSql=true" />
		<property name="maxWait" value="5000" />
		<property name="defaultAutoCommit" value="true" />
		<property name="timeBetweenEvictionRunsMillis" value="300000" />
		<property name="minEvictableIdleTimeMillis" value="300000" />
		<property name="validationQuery" value="SELECT 'x' FROM DUAL" />
		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="false" />
		<property name="testOnReturn" value="false" />
		<property name="poolPreparedStatements" value="true" />
		<property name="maxPoolPreparedStatementPerConnectionSize" value="20" />
		<property name="removeAbandoned" value="true" />
		<property name="removeAbandonedTimeout" value="1200" />
		<property name="logAbandoned" value="true" />
	</bean>

	<bean id="dataSource" class="jakiro.DynamicDataSource" destroy-method="close">
		<property name="dynamicDataSourceName" value="DS" />
		<property name="defaultAutoCommit" value="true" />
		<property name="defaultTargetDataSource" ref="phoenixDS" />
		<property name="targetDataSources">
			<map key-type="java.lang.String">
				<entry key="main" value-ref="phoenixDS" />
			</map>
		</property>
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="phoenixDS" />
		<property name="mapperLocations" value="classpath*:mapper/*.xml" />
		<property name="configLocation" value="configuration.xml" />
		<property name="typeAliasesPackage" value="phoenix.dataObject" />
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="phoenix.dao" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

 
</beans>